html.dark-mode {
  --background-color: #1f1d24;
  --text-color: #ebf4f1;
  --dialog-border-color: #3d3d46;

  --search-color: #b2b4bf;

  /* origin */
  --brand: #f2f219;
  --secandary1: #ffc700;
  --secandary2: #ffe446;
  --secandary3: #7077a1;
  --secandary4: #49d0c7;
  --assistant: #ffb800;
  --assistant10: #352d20;
  --up: #ef2d21;
  --down: #4881ff;
  --zero: #ffffff;
  --zero1: #ffffff;
  --buy: #ef2d21;
  --sell: #4881ff;
  --error: #ff6259;
  --error_bg: #250d0a;
  --caution_card01: #ef2d211a;
  --caution_card02: #ffb8001a;
  --caution_card03: #213245;
  --caution_text: #b2b4bf;
  --best: #36fcc6;
  --success: #00d256;
  --decimal: #6839ff;
  --tooltip: #0c0b0f;
  --tooltip2: #237bff;
  --hover: #ffffff05;
  --menu-active: #a4b6df1a;
  --menu-hover: #ffffff05;
  --fix_shadow: #000000;
  --gnb_hoverbg: #15131a;
  --gradation1: #29272e;
  --gradation2: #323242;
  --gradation3: #1f1d24;
  --spot01: #ffd45b;
  --bg_primary: #ffffff;
  --bg_type01: #f4f5f8;
  --bg_type02: #dfe1e8;
  --bg_type03: #b2b4bf;
  --bg_type04: #91949e;
  --bg_type05: #7d7e85;
  --bg_type06: #63636d;
  --bg_type07: #50505b;
  --bg_type08: #2b2b38;
  --bg_type09: #323242;
  --bg_type10: #303038;
  --bg_type10_fixed: #303038;
  --bg_type11: #2f2f3b;
  --bg_type12: #29272e;
  --bg_type13: #242329;
  --bg_type14: #222026;
  --bg_type15: #222133;
  --bg_type16: #1f1d24;
  --bg_type17: #1a181e;
  --bg_type18: #15131a;
  --bg_type19: #15131a;
  --bg_type20: #0c0b0f;
  --bg_type21: #29272e;
  --bg_type22: #323242;
  --bg_type23: #2b2b38;
  --bg_type24: #1f1d24;
  --bg_type25: #1a191c;
  --bg_type26: #24232d;
  --bg_basic: #15131a;
  --bg_news: #ffffff;
  --transparent_bg01: #2caaff15;
  --transparent_bg02: #f2f21915;
  --text_primary: #ffffff;
  --text_white_fixed: #ffffff;
  --text_type01: #b2b4bf;
  --text_type02: #91949e;
  --text_type03: #7d7e85;
  --text_type04: #63636d;
  --text_type05: #15131a;
  --text_type05_fixed: #15131a;
  --text_type06: #50505b;
  --text_type07: #9e9d9f;
  --text_brand: #f2f219;
  --text_brand02: #f2f219;
  --text_up: #ef2d21;
  --text_down: #4881ff;
  --text_zero: #ffffff;
  --text_error: #ff6259;
  --text_success: #00d256;
  --text_assistant: #ffb800;
  --text_correct: #5ed5c1;
  --text_cancel: #958eff;
  --text_popup: #ffffff;
  --btn_brand_bg: #f2f219;
  --btn_brand_hover: #dfdf17;
  --btn_brand_tx: #15131a;
  --btn_type01_bg: #3e3e59;
  --btn_type01_bg_hover: #393952;
  --btn_type01_tx: #ffffff;
  --btn_type02_bg: #2f2f3b;
  --btn_type02_bg_hover: #2b2b36;
  --btn_type02_tx: #ffffff;
  --btn_type03_bg: #2f2f3b;
  --btn_type03_bg_hover: #2b2b36;
  --btn_type03_tx: #ffffff;
  --btn_bg: #ffffff0a;
  --btn_buy_bg: #ef2d21;
  --btn_buy_bg_hover: #dc291e;
  --btn_buy_tx: #ffffff;
  --btn_sell: #4881ff;
  --btn_sell_bg: #4881ff;
  --btn_sell_bg_hover: #4277eb;
  --btn_sell_tx: #ffffff;
  --btn_brand_line: #f2f219;
  --btn_primary_line: #ffffff;
  --btn_primary_line_opacity: #49484e;
  --btn_line: #50505b;
  --btn_correction: #449688;
  --btn_correction_hover: #3f8a7d;
  --btn_cancel: #625bcb;
  --btn_cancel_hover: #5a54bb;
  --btn_popup: #63636d;
  --tab_brand_tx_select: #f2f219;
  --tab_primary_tx_select: #ffffff;
  --tab_type01_tx_default: #b2b4bf;
  --tab_type02_tx_default: #7d7e85;
  --tab_type03_bg_select: #2f2f3b;
  --tab_type04_bg_default: #15131a;
  --tab_type05_bg_default: #1f1d24;
  --tab_type05_bg_select: #2f2f3b;
  --tab_type06_bg_default: #1f1d24;
  --tab_type07_bg_select: #3e3e59;
  --tab_type08_bg_select: #2f2f3b;
  --tab_type08_brd_select: #2f2f3b;
  --brd_brand: #f2f219;
  --brd_type01: #7d7e85;
  --brd_type02: #50505b;
  --brd_type02_radio: #50505b80;
  --brd_type03: #303038;
  --brd_type04: #2f2f3b;
  --brd_type05: #29272e;
  --brd_type06: #222026;
  --brd_type07: #1f1d24;
  --brd_type08: #434354;
  --brd_type09: #32323d;
  --brd_popupline: #3d3d46;
  --brd_brand_select: #f2f219;
  --input_brand_brd_focus: #f2f219;
  --input_type01_radio_default: #7d7e85;
  --input_type01_brd_default: #63636d;
  --input_type03_brd_default: #50505b;
  --input_type03_brd_disable: #303038;
  --input_type04_bg_default: #1f1d24;
  --input_type05_bg_default: #1f1d24;
  --input_type06_bg_default: #29272e;
  --input_type07_bg_default: #1f1d24;
  --input_type08_bg_default: #29272e;
  --talk_type01_bg: #303038;
  --talk_type02_bg: #404049;
  --icon_brand: #f2f219;
  --icon_primary: #ffffff;
  --icon_white_fixed: #ffffff;
  --icon_type01: #b2b4bf;
  --icon_type02: #7d7e85;
  --icon_type03: #63636d;
  --icon_type04: #1f1d24;
  --icon_type05_fixed: #000000;
  --icon_up: #ef2d21;
  --icon_down: #4881ff;
  --icon_error: #ff6259;
  --icon_assistant: #ffb800;
  --korea01: #f95959;
  --korea02: #ff8080;
  --korea03: #ffb2b2;
  --korea04: #ffcccc;
  --korea05: #f959cd;
  --korea06: #fb89dc;
  --korea07: #fcb5e9;
  --korea08: #fdcef0;
  --korea09: #8b55ff;
  --korea10: #a880ff;
  --korea11: #cbb2ff;
  --korea12: #dcccff;
  --korea13: #7d7e85;
  --korea14: #3f2326;
  --korea15: #252c45;
  --global01: #ffd45b;
  --global02: #ffde80;
  --global03: #ffebb2;
  --global04: #fff8e5;
  --global05: #7ff53d;
  --global06: #aef986;
  --global07: #cefbb6;
  --global08: #effee7;
  --global09: #4ff0db;
  --global10: #89f5e7;
  --global11: #b8f9f1;
  --global12: #e7fdfa;
  --global13: #7d7e85;
  --graph01: #f95959;
  --graph02: #e8b21c;
  --graph03: #00d256;
  --graph04: #01dcbf;
  --graph05: #7392ff;
  --graph06: #e6178f;
  --graph07: #91949e;
  --chart01: #91949e;
  --badge01: #2caaff;
  --badge02: #00d256;
  --badge03: #00d25633;
  --badge04: #b2b4bf;
  --badge05: #444254;
  --badge06: #ff625933;
  --badge07: #4881ff26;
  --badge08: #f2443026;
  --badge09: #ff3eb2;
  --badge10: #00add1;
  --badge11: #f2f219;
  --badge12: #5681f7;
  --badge13: #ff00ab;
  --badge14: #f24430;
  --stemp01: #26c491;
  --stemp02: #ff9c00;
  --hashtag01: #284d4d;
  --hashtag02: #37847a;
  --hashtag03: #1f1d24;
  --hashtag04: #2f2f3b;
  --banner01: #2b2b38;
  --banner02: #29272e;
  --banner03: #eefee4;
  --banner04: #dfe9f4;
  --banner05: #fef0e4;
  --banner06: #eae3f4;
  --container_bg: #1f1d24;
  --container_header_select: #1f1d24;
  --container_header_bg: #16151a;
  --trading_board_header_bg: #1f1d24;
  --trading_board_header_border: #1f1d24;
  --tboard_tab: #0c0b0f;
  --tboard_tab_select: #000000;
  --tboard_addbtn: #222133;
  --t-btn_type01_bg: #323240;
  --t-btn_type01_bg_hover: #2e2e3b;
  --t-btn_type01_bg_disable: #3e3e5980;
  --t-btn_type01_tx: #ffffff;
  --t-btn_type01_tx_disable: #ffffff4d;
  --t-btn_type02_bg: #2f2f3a;
  --t-btn_type02_bg_hover: #2b2b35;
  --t-btn_type02_tx: #ffffff;
  --t-brd_type01: #343239;
  --t-chart_line01: #3b3b47;
  --t-chart_line02: #33333f;
  --t-sell_type01: #1c2035;
  --t-sell_type02: #23386d;
  --t-sell_type03: #3d5ca7;
  --t-sell_type04: #293452;
  --t-sell_type05: #506cb0;
  --t-buy_type01: #351a20;
  --t-buy_type02: #501516;
  --t-buy_type03: #852b25;
  --t-buy_type04: #4c262e;
  --t-buy_type05: #8a403c;
  --t-zero_type01: #0c0b0f;
  --t-zero_type02: #90929f;
  --t-card01: #2a282e;
  --t-card02: #16151a;
  --t-trselect: #15131a;
  --t-highlight: #222028;
  --t-timeline: #2f2f3b;
  --keypad_bg1: #0c0b0f;
  --keypad_bg2: #1f1d24;
  --key_bg: #29272e;
  --key_sc: #2f2f3b;
  --sys_alarm: #2e2e3b;
  --trading_bg: #000000;
  --t-text01: #d9dbe2;
  --t-text02: #575757;
  --check: #f2f219;
  --purple01_fixed: #e9e2ff;
  --purple02_fixed: #6839ff;
  --dim-bg: #00000099;
  --dim_bg_80: #15131acc;
  --financial-information-legend-color: #151419;
  --trading_blink_up: #f244300d;
  --trading_blink_down: #4881ff0d;
  --trading_blink_eq: #ffffff0d;
}

.dark-mode body {
  background-color: var(--background-color);
  color: var(--text-color);
}
