html.light-mode {
  --background-color: #fff;
  --text-color: rgb(30, 30, 35);
  --dialog-border-color: #dadada;
}

.light-mode body {
  background-color: var(--background-color);
  color: var(--text-color);
}
