html.light-mode {
  --background-color: #fff;
  --text-color: rgb(30, 30, 35);
  --dialog-border-color: #dadada;

  --search-color: #63636d;

  /* origin */
  --brand: #ffc700;
  --secandary1: #ffc700;
  --secandary2: #ffe446;
  --secandary3: #7077a1;
  --secandary4: #49d0c7;
  --assistant: #ffb800;
  --assistant10: #fff8e6;
  --up: #ef2d21;
  --down: #4881ff;
  --zero: #1e1e23;
  --zero1: #ffffff;
  --buy: #ef2d21;
  --sell: #4881ff;
  --error: #e85951;
  --error_bg: #fae2df;
  --caution_card01: #ef2d211a;
  --caution_card02: #ffb8001a;
  --caution_card03: #dbedf8;
  --caution_text: #dee2e7;
  --best: #30e5b4;
  --success: #05bf4e;
  --decimal: #6839ff;
  --tooltip: #343945;
  --tooltip2: #237bff;
  --hover: #00000005;
  --menu-active: #ffc700;
  --menu-hover: #00000005;
  --fix_shadow: #f5f5f5;
  --gnb_hoverbg: #15131a;
  --gradation1: #ffffff;
  --gradation2: #edf2ff;
  --gradation3: #ffffff;
  --spot01: #f24430;
  --bg_primary: #1e1e23;
  --bg_type01: #f5f6f7;
  --bg_type02: #dfe1e8;
  --bg_type03: #b2b4bf;
  --bg_type04: #91949e;
  --bg_type05: #7d7e85;
  --bg_type06: #63636d;
  --bg_type07: #fff7dc;
  --bg_type08: #eff2f6;
  --bg_type09: #edf2ff;
  --bg_type10: #f9f9f9;
  --bg_type10_fixed: #303038;
  --bg_type11: #6a6a6a;
  --bg_type12: #f5f6f8;
  --bg_type13: #fafafa;
  --bg_type14: #f3f3f3;
  --bg_type15: #f4f8ff;
  --bg_type16: #ffffff;
  --bg_type17: #fafafa;
  --bg_type18: #f6f7f8;
  --bg_type19: #e7e9ed;
  --bg_type20: #0c0b0f;
  --bg_type21: #ffffff;
  --bg_type22: #fff7dc;
  --bg_type23: #fff4cf;
  --bg_type24: #e7e9ed;
  --bg_type25: #f6f7f8;
  --bg_type26: #f9f9f9;
  --bg_basic: #ffffff;
  --bg_news: #ffffff;
  --transparent_bg01: #1284d015;
  --transparent_bg02: #f2f21915;
  --text_primary: #1e1e23;
  --text_white_fixed: #ffffff;
  --text_type01: #6b6b6b;
  --text_type02: #767676;
  --text_type03: #919191;
  --text_type04: #a3a3a3;
  --text_type05: #c0c0c0;
  --text_type05_fixed: #15131a;
  --text_type06: #d2d4db;
  --text_type07: #aeb0b5;
  --text_brand: #a06a00;
  --text_brand02: #ff9c00;
  --text_up: #ef2d21;
  --text_down: #4881ff;
  --text_zero: #1e1e23;
  --text_error: #e85951;
  --text_success: #05bf4e;
  --text_assistant: #ffb800;
  --text_correct: #5ed5c1;
  --text_cancel: #958eff;
  --text_popup: #15131a;
  --btn_brand_bg: #ffc700;
  --btn_brand_hover: #ebb700;
  --btn_brand_tx: #15131a;
  --btn_type01_bg: #8993a4;
  --btn_type01_bg_hover: #7e8797;
  --btn_type01_tx: #ffffff;
  --btn_type02_bg: #eaecef;
  --btn_type02_bg_hover: #d7d9dc;
  --btn_type02_tx: #15131a;
  --btn_type03_bg: #a6aebb;
  --btn_type03_bg_hover: #99a0ac;
  --btn_type03_tx: #ffffff;
  --btn_bg: #00000005;
  --btn_buy_bg: #ef2d21;
  --btn_buy_bg_hover: #dc291e;
  --btn_buy_tx: #ffffff;
  --btn_sell: #4275e7;
  --btn_sell_bg: #4275e7;
  --btn_sell_bg_hover: #3d6cd5;
  --btn_sell_tx: #ffffff;
  --btn_brand_line: #ffc700;
  --btn_primary_line: #15131a;
  --btn_primary_line_opacity: #c7c6c8;
  --btn_line: #50505b;
  --btn_correction: #449688;
  --btn_correction_hover: #3f8a7d;
  --btn_cancel: #625bcb;
  --btn_cancel_hover: #5a54bb;
  --btn_popup: #dfe1e8;
  --tab_brand_tx_select: #1e1e23;
  --tab_primary_tx_select: #1e1e23;
  --tab_type01_tx_default: #91949e;
  --tab_type02_tx_default: #97989d;
  --tab_type03_bg_select: #ffffff;
  --tab_type04_bg_default: #e7e9ed;
  --tab_type05_bg_default: #f6f7f8;
  --tab_type05_bg_select: #ffc700;
  --tab_type06_bg_default: #ffc700;
  --tab_type07_bg_select: #e7e9ed;
  --tab_type08_bg_select: #f3f3f3;
  --tab_type08_brd_select: #e5e5e5;
  --brd_brand: #ffc700;
  --brd_type01: #7d7e85;
  --brd_type02: #e1e1e1;
  --brd_type02_radio: #50505b80;
  --brd_type03: #ebebeb;
  --brd_type04: #f4f4f4;
  --brd_type05: #f4f4f4;
  --brd_type06: #222026;
  --brd_type07: #e9e9e9;
  --brd_type08: #cdd1dd;
  --brd_type09: #dddddd;
  --brd_popupline: #dadada;
  --brd_brand_select: #15131a;
  --input_brand_brd_focus: #ffc700;
  --input_type01_radio_default: #a2a4ae;
  --input_type01_brd_default: #c9cbd4;
  --input_type03_brd_default: #e1e1e1;
  --input_type03_brd_disable: #f4f4f4;
  --input_type04_bg_default: #fafbfb;
  --input_type05_bg_default: #ffffff;
  --input_type06_bg_default: #fffbee;
  --input_type07_bg_default: #fffbee;
  --input_type08_bg_default: #ffffff;
  --talk_type01_bg: #ffffff;
  --talk_type02_bg: #fff7dc;
  --icon_brand: #ffc700;
  --icon_primary: #1f1d24;
  --icon_white_fixed: #ffffff;
  --icon_type01: #63636d;
  --icon_type02: #7d7e85;
  --icon_type03: #b2b4bf;
  --icon_type04: #ffffff;
  --icon_type05_fixed: #000000;
  --icon_up: #ef2d21;
  --icon_down: #4881ff;
  --icon_error: #e85951;
  --icon_assistant: #ffb800;
  --korea01: #f95959;
  --korea02: #ff8080;
  --korea03: #ffb2b2;
  --korea04: #ffcccc;
  --korea05: #f959cd;
  --korea06: #fb89dc;
  --korea07: #fcb5e9;
  --korea08: #fdcef0;
  --korea09: #8b55ff;
  --korea10: #a880ff;
  --korea11: #cbb2ff;
  --korea12: #dcccff;
  --korea13: #dddddd;
  --korea14: #3f2326;
  --korea15: #252c45;
  --global01: #ffd45b;
  --global02: #ffde80;
  --global03: #ffebb2;
  --global04: #fff8e5;
  --global05: #7ff53d;
  --global06: #aef986;
  --global07: #cefbb6;
  --global08: #effee7;
  --global09: #4ff0db;
  --global10: #89f5e7;
  --global11: #b8f9f1;
  --global12: #e7fdfa;
  --global13: #dddddd;
  --graph01: #f95959;
  --graph02: #e8b21c;
  --graph03: #00d256;
  --graph04: #01dcbf;
  --graph05: #7392ff;
  --graph06: #e6178f;
  --graph07: #91949e;
  --chart01: #cdcfd4;
  --badge01: #1284d0;
  --badge02: #00d256;
  --badge03: #00d25633;
  --badge04: #b2b4bf;
  --badge05: #e7e9ed;
  --badge06: #ff625933;
  --badge07: #4881ff26;
  --badge08: #f2443026;
  --badge09: #ff3eb2;
  --badge10: #00add1;
  --badge11: #ffc700;
  --badge12: #5681f7;
  --badge13: #ff00ab;
  --badge14: #f24430;
  --stemp01: #26c491;
  --stemp02: #ff9c00;
  --hashtag01: #4c9087;
  --hashtag02: #75bdb4;
  --hashtag03: #e7e9ed;
  --hashtag04: #f4f5f8;
  --banner01: #fff7dc;
  --banner02: #f5ffdf;
  --banner03: #eefffa;
  --banner04: #dee8ff;
  --banner05: #fff0fb;
  --banner06: #eae2ff;
  --container_bg: #ffffff;
  --container_header_select: #ffffff;
  --container_header_bg: #f5f6f7;
  --tboard_header_bg: #f6f7f8;
  --tboard_header_border: #e9e9e9;
  --tboard_tab: #f6f7f9;
  --tboard_tab_select: #e7e9ed;
  --tboard_addbtn: #dfe1e8;
  --t-btn_type01_bg: #f3f3f3;
  --t-btn_type01_bg_hover: #e0e0e0;
  --t-btn_type01_bg_disable: #8c949e80;
  --t-btn_type01_tx: #575757;
  --t-btn_type01_tx_disable: #ffffff4d;
  --t-btn_type02_bg: #e9eaec;
  --t-btn_type02_bg_hover: #d6d7d9;
  --t-btn_type02_tx: #525252;
  --t-brd_type01: #eeeeee;
  --t-chart_line01: #e6e7e7;
  --t-chart_line02: #f0f1f1;
  --t-sell_type01: #d9f0ff;
  --t-sell_type02: #bee5ff;
  --t-sell_type03: #c5e7ff;
  --t-sell_type04: #bce2fc;
  --t-sell_type05: #a3d8fa;
  --t-buy_type01: #ffedec;
  --t-buy_type02: #ffd1d1;
  --t-buy_type03: #ffdfdd;
  --t-buy_type04: #ffd9d7;
  --t-buy_type05: #fdc7c4;
  --t-zero_type01: #e7e9ed;
  --t-zero_type02: #e7e9ed;
  --t-card01: #fafbfb;
  --t-card02: #f6f6f6;
  --t-trselect: #fffdf7;
  --t-highlight: #fff9e6;
  --t-timeline: #d9d9d9;
  --keypad_bg1: #d0d0d0;
  --keypad_bg2: #f5f5f5;
  --key_bg: #ffffff;
  --key_sc: #ffffff;
  --sys_alarm: #fffdf7;
  --trading_bg: #e7e9ed;
  --t-text01: #494949;
  --t-text02: #575757;
  --check: #ffc700;
  --purple01_fixed: #e9e2ff;
  --purple02_fixed: #6839ff;
  --dim-bg: #00000099;
  --dim_bg_80: #ffffffcc;
  --financial-information-legend-color: #e9e9e9;
  --trading_blink_up: #f244300d;
  --trading_blink_down: #4881ff0d;
  --trading_blink_eq: #1e1e230d;
}

.light-mode body {
  background-color: var(--background-color);
  color: var(--text-color);
}
